<app-nav-bar></app-nav-bar>
<div class="container" *ngIf='!statebuy'>
    <img  src="https://ipfs.io/ipfs/{{product?.imageLink}}" class="thumbnail"[imageZoom]="zoomedImageSrc"  alt="shirt" id="shirtImagePosition">
    <div class="container" id="form1">
        <form>
            <h3>{{product?.name}}</h3>
            <h4>Be the first to Review this product <img src="../.././assets/shop.png" alt="shopping icon" width="42" height="42"> </h4>
            <h3>Specifications</h3>
            <table>
                <tbody>
                    <tr>
                        <td><b>Category</b></td>
                        <td>{{product?.category}}</td>
                    </tr>
                    <tr>
                        <td><b>Description</b></td>
                        <td>{{filedata}}</td>
                    </tr>
                    <tr>
                        <td><b>Price</b></td>
                        <td>{{product?.price}} levelup</td>
                    </tr>
                </tbody>
            </table><br>
            <button data-toggle="modal" *ngIf="!check" data-target="#login" id="buttonplaced" class="btn btn-lg btn-primary" type="submit">BUY NOW</button>
            <button *ngIf="check" data-toggle="modal" data-target="#myModal" id="buttonplaced" class="btn btn-lg btn-primary" type="submit">BUY NOW</button>
        </form>
    </div>

    <div class="onloader_col"  *ngIf="loader">
        <img src="./assets/loader.gif"/>
    </div>

</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content makeme">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Product Details</h2>
                <h4>{{product?.name}}</h4>
            </div>
            <div class="modal-body">
                <p>Price(1 item) &nbsp; &nbsp; {{product?.price}} levelup</p>
                <p>Delivery Charge &nbsp; &nbsp; (Free) </p>
                <h5>Amount Payable &nbsp; &nbsp; {{product?.price}} levelup</h5>
                <hr>
                <h3>Billing Address</h3>
                <form role="form" #form="ngForm" class="form-horizontal makeform" (ngSubmit)="createOrder(orderModel)">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="address" [(ngModel)]="orderModel.address" placeholder="Enter Address" required  class="form-control input-xlarge">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="state" [(ngModel)]="orderModel.state" placeholder="Enter State" required  class="form-control input-xlarge">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="city" [(ngModel)]="orderModel.city" placeholder="Enter City" required  class="form-control input-xlarge">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="pincode" [(ngModel)]="orderModel.pincode" placeholder="Enter Pincode"  maxlength="6" required  class="form-control input-xlarge">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="phone_number" [(ngModel)]="orderModel.phone_number" placeholder="Enter Mobile Number" maxlength="10" required  class="form-control input-xlarge">
                        </div>
                    </div>
                    <button type="submit" id="order" class="btn btn-primary">Place Order</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
