.btn-block {
    width: 56%
}


.ridge {
    border:1px solid #D3D3D3;
    /* padding: 25px 10px 40px 10px; */
    margin: 20px 40px 75px 10px;
    /* width: 174px; */
    text-align: center;
}

#center {

    margin-left: 20%;
}


.modal-title{
  margin-left: 14%;
}


i{
  margin-left: 10px;
  margin-right: 10px;
}


.product_list{       border: 1px solid #ccc;
    border-radius: 5px;
    width: 23%;
    padding-bottom: 15px;
        margin: 0 10px 16px;
    }
.thumbnail {       width: 100%;
    height: 230px;
    display: table;
    border: 0;
    padding: 12px 0;
    margin: 0;
    line-height: inherit;
    border-radius: 0;
    text-align: center;}
.thumbnail img{     width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    float: none;
    display: inline-block;}

 .product_des{text-align: center;}
    .product_des h3{ font-size: 18px;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    overflow: hidden;}
  .product_des p{    margin: 0;}
    .product_des a.buy_btn{    float: left;
    width: 100%;
    margin-top: 5px;}