<app-nav-bar></app-nav-bar>
<div class="container" >
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row">
        <div class="card col-md-3 product_list" *ngFor="let product of product">
          <div class="thumbnail">
            <img src="https://ipfs.io/ipfs/{{product?.imageLink}}" [routerLink]="['/productDetail', product._id]" alt="blue shirt">
          </div>  

          <div class="product_des">
            <h3>{{product?.name}}</h3>
            <p>{{product?.category}}</p>
            <span>{{product?.price}} <b>levelup</b></span>

            <a href="javascript:void(0)" *ngIf="!uncheck" data-toggle="modal" data-target="#login" class="buy_btn" > Buy</a>
            <a href="/#/productDetail/{{product._id}}" class="buy_btn" *ngIf="uncheck"  > Buy</a>
          </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" *ngIf="errorState">
    <h5>Error:{{errorState}}</h5>
  </div>
