<app-nav-bar></app-nav-bar>
<div class="container">
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="first_name">First Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="last_name">Last Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="email">Email</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.email}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
