<app-nav-bar></app-nav-bar>
<div class="container">
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
      <tr>
        <th class="disableSorting">Transaction Hash</th>
        <th class="disableSorting">Order Id</th>
        <th class="disableSorting">Product Name</th>
        <th class="disableSorting">Product Category</th>
        <th class="disableSorting">Price</th>
        <th class="disableSorting">Ordered by</th>
        <th class="disableSorting">Ordered At</th>
        <th class="disableSorting">Shipping Address</th>
        <th class="disableSorting">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data">
        <td><a target="_blank" href="https://ropsten.etherscan.io/tx/{{item?.txHash}}">{{item?.txHash}}</a></td>
      <td>{{item.order_number}}</td>
      <td>{{item.productsinfo[0].name}}</td>
      <td>{{item.productsinfo[0].category}}</td>
      <td>{{item.productsinfo[0].price/priceDecimalValue}}</td>
      <td>{{item.usersinfo[0].first_name}} {{item.usersinfo[0].last_name}}</td>
      <td>{{item.created_at | date: 'dd/MM/yyyy'}}</td>
      <td>{{item.address.address}}, {{item.address.city}}, {{item.address.state}}, {{item.address.pincode}}</td>
      <td>{{item.status}}</td>
    </tr>
</tbody>
<tfoot>
  <tr>
    <td colspan="3">
      <mfBootstrapPaginator></mfBootstrapPaginator>
    </td>
  </tr>
</tfoot>
</table>
</div>
