<app-nav-bar></app-nav-bar>
<div class="container">
  <table class="table table-striped" [mfData]="data | dataFilter: filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>
            <mfDefaultSorter by="order_number">Order Id</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="product_name">Product Name</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter>Shipping Address</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.order_number}}</td>
        <td>{{item.product_name}}</td>
        <td>{{item.address.address}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
            <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>