.ridge {
    border:1px solid #D3D3D3;
    /* padding: 25px 10px 40px 10px; */
    /* margin: 20px 40px 75px 10px; */
    /* width: 174px; */
    text-align: center;
}

.thumbnail{
  text-align: center;
}
