<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row">
        <div class="card col-md-4" *ngFor="let product of productList">
          <div class="thumbnail">
            <img  src="https://ipfs.io/ipfs/{{product.imageLink}}" [routerLink]="['/productDetail', product._id]" alt="blue shirt">
            <p><b>{{product?.name}}  (&#x20b9; {{product?.price}})</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
