<app-nav-bar></app-nav-bar>
<!-- <div class="container">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row">
        <div class="card col-md-4" *ngFor="let product of productList">
          <div class="thumbnail">
            <img  src="https://ipfs.io/ipfs/{{product.imageLink}}" [routerLink]="['/productDetail', product._id]" alt="blue shirt">
            <b>{{product?.name}}</b><br>
            {{product?.category}}<br>
            {{product?.price}}<b> levelup</b><br>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#login" > Buy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
