<app-nav-bar></app-nav-bar>
<div class="container">
    <button data-toggle="modal" data-target="#publisher" id="buttonplaced" class="btn btn-lg btn-primary" type="submit">Add</button>
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="first_name">First Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="last_name">Last Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="email">Email</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data">
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.email}}</td>
        </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- Modal content-->
<div class="modal fade" id="publisher" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">New Publisher</h1>
      </div>
      <div class="modal-body">
        <form role="form" #form="ngForm" class="form-horizontal" (ngSubmit)="createPublisher(publisherModel)">
          <h4>First Name</h4>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" name="first_name" [(ngModel)]="publisherModel.first_name" placeholder="Enter First Name" required  class="form-control input-xlarge">
            </div>
          </div>
          <h4>Last Name</h4>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" name="last_name" [(ngModel)]="publisherModel.last_name" placeholder="Enter Last Name" required  class="form-control input-xlarge">
            </div>
          </div>
          <h4>Email</h4>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="email" class="form-control" name="email" [(ngModel)]="publisherModel.email" placeholder="Enter Email" required  class="form-control input-xlarge">
            </div>
          </div>
          <h4>Password</h4>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password" [(ngModel)]="publisherModel.password" placeholder="Enter Password" required  class="form-control input-xlarge">
            </div>
          </div>
          <h4>Token</h4>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" name="token" [(ngModel)]="publisherModel.token" placeholder="Enter Token" required  class="form-control input-xlarge">
            </div>
          </div>
          <h4>Website URL</h4>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" name="website_url" [(ngModel)]="publisherModel.website_url" placeholder="Enter Website URL" required  class="form-control input-xlarge">
            </div>
          </div>
          <button type="submit"  class="btn btn-primary">Create Publisher</button>
          <button type="button"  class="btn btn-danger" data-dismiss="modal">Close</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
