<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shopping</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <ng-container *ngIf="check">
        <li><a [routerLink]="['/admin']">User</a></li>
        <li><a [routerLink]="['/order']">Order</a></li>
        <li><a [routerLink]="['/adminproduct']">Product</a></li>
      </ng-container>
      <ng-container *ngIf="!check">
        <li><a [routerLink]="['/userOrder']">My Order</a></li>
      </ng-container>
      <li><a *ngIf="check" (click)=logout()>SignOut</a></li>
    </ul>
  </div>
</nav>