.table>tbody>tr, .table>thead>tr{border-bottom:1px solid #ddd }
.table>tbody>tr>td, .table>thead>tr>td{    border-top: 0;}

.disableSorting {
    color: #337ab7;
}

.alert-success {
    color: #3c763d;
    margin-left: 90px;
    margin-right: 90px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
