<app-nav-bar></app-nav-bar>
<div class="container">
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="order_number">OrderId</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="product_name">Product Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="product_name">Product Category</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="product_name">Product Price</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="ordered_on">Ordered on</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="ordered_on">User Email</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.order_number}}</td>
        <td>{{item.productsinfo[0].name}}</td>
        <td>{{item.productsinfo[0].category}}</td>
        <td>{{item.productsinfo[0].price}}</td>
        <td>{{item.created_at | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.usersinfo[0].email}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
